.checkbox {
    position: relative;
    display: block;
    margin-top: 1px;
    margin-bottom: 3px;
}

.checkbox label {
    min-height: 20px;
    padding-left: 20px;
    margin-bottom: 0;
    font-weight: 400;
    cursor: pointer;
}

.form-group {
    margin-bottom: 1px;
}

.nav-pills > li {
  float: left;
}

/**  Flexbox implementation */
.wrapper {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;  
  
  -webkit-flex-flow: row nowrap;
  flex-flow: row nowrap;
  text-align: left;
}

.wrapper > * {
  padding: 10px;
  flex: 1 100%;
}

.main {
  background: white;
}

.aside-1 {
  background: white;
}


@media all and (min-width: 600px) {
  .aside { flex: 1 auto; }
}

@media all and (min-width: 800px) {
  .main    { flex: 3 0px; }
  .aside-1 { order: 1; } 
  .main    { order: 2; }
}


