.checkbox {
    position: relative;
    display: block;
    margin-top: 1px;
    margin-bottom: 3px;
}

.checkbox label {
    min-height: 20px;
    padding-left: 20px;
    margin-bottom: 0;
    font-weight: 400;
    cursor: pointer;
}

.form-group {
    margin-bottom: 1px;
}

.nav-pills > li {
  float: left;
}
.nav-pills > li > a {
  border-radius: 4px;
}
.nav-pills > li + li {
  margin-left: 2px;
}
.nav-pills > li > a.active,
.nav-pills > li> a:hover.active ,
.nav-pills > li > a:focus.active {
  color: #fff;
  background-color: #337ab7;
}